.cursoBG {
    background-color: #000;
}

.curso {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 12px 16px;
}

.curso h1 {
    border-bottom: 3px solid #EE4D30;
    max-width: 400px;
    padding-bottom: 12px;
}

.curso li {
    list-style: none;
}

.curso li h4 {
    color: #EE4D30;
}