.contentPontos {
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 50px auto;
}

.contentPontosItens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 12px 16px;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: rgb(49, 49, 49);
    border-radius: 12px;
    border-bottom: 2px solid #EE4D30;
}

.contentPontosItens li img {
    margin-right: 12px;
    background-color: #EE4D30;
    padding: 16px 16px;
    border-radius: 500px;
}

.contentP1, .contentP2 {
    display: flex;
    justify-content: center;
    align-items: center;
}